@model IEnumerable<Blog.Models.Blogs>
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Index";
    Layout = "Shared/_LayoutHome.cshtml";
    var currentUser = ViewData["currentUser"];
    List<IdentityUser> listUserBlogs = (List<IdentityUser>)ViewData["listUserBlogs"];
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Body resources-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" href="~/css/blog.css">
<style>
    .cover {
        background-color: black;
        background-image: url("/images/static/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 230px;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .row .first-right-comment {
        height: 25px;
    }
</style>

@if (Model.Count() == 0)
{
    <div>
        You must Create at least 1 Blog before get your own blogsite.
    </div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{

    <div class="row py-5 px-2">
        <div class="col-md-8 mx-5">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <!--Avatar-->
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            <div class="profilepic" style="background-color: #e2c147;width: 190px;height: 190px;">
                                <div class=" profilepic__image rounded mb-2 img-thumbnail">
                                    <img src="/images/@Model.First().User.Avatar" style="width:190px; height:190px;" />
                                </div>
                            </div>

                        </div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0" style="color: #ffffff; font-size:30px;">
                                @Model.First().User.UserName
                            </h4>
                        </div>
                    </div>
                </div>

                <!--Information-->
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">@Model.First().User.Profession</h5>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="row">
                    <div class="py-4 px-4">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="mb-2 pl-lg-1 col-md-8">
                                <div class="right-component p-4 rounded shadow-sm bg-light">
                                    <div class="p-4 rounded shadow-sm bg-light">
                                        <div class="py-3 d-flex justify-content-center">
                                            <h3 class="mb-0"><strong>@Model.First().User.UserName 's Blogs</strong></h3>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="text-muted">You have @Model.Count() blogs</p>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <p class="font-italic mb-0" style="font-size:larger;"><em>Live the truth, Share your creativity. </em></p>
                                        </div>
                                        @if (@Model.First().User.UserName.ToString() == currentUser.ToString())
                                        {
                                            <p class="font-italic mb-0">
                                                <a asp-action="Create">Create New</a>
                                            </p>
                                        }
                                    </div>
                                </div>
                                <br /><br />
                                @foreach (var item in Model)
                                {
                                    <div class="right-component p-4 rounded shadow-sm bg-dark text-light">
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="row py-3 d-flex justify-content-between">
                                                    <h3 class="mb-0"><strong>@item.Title</strong></h3>
                                                </div>
                                                <div class="row">
                                                    <p>@item.Intro</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <img class="rounded-circle" width="50" height="50" src="/images/@item.User.Avatar" />
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <p style="color:aquamarine;">@item.User.UserName</p>
                                                        <p>@item.Created</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <img class="rounded" style="width:250px; height:220px;" src="/images/@item.Image" />
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <div class="bg-white shadow rounded overflow-hidden">
                <h3 style="margin:10px;">List User's Blogs</h3>
                @foreach (var user in listUserBlogs)
                {
                    <div class="mb-2 pl-lg-1 col-md-8">
                        <div class="right-component p-4 rounded shadow-sm bg-light">
                            <h6>@user.UserName</h6>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}