@using System.Security.Claims
@{
    var notifications = (List<Notification>)ViewData["notifications"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/content.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header id="myHeader">
        <input type="hidden" id="currentUserNav" value="@User.Identity.Name" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Blogs" asp-action="Menu">Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Private">Private Message</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Messages Group</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a asp-controller="Blogs" asp-action="Index" class="nav-link text-dark" style="color: #000;">Hello, @ViewData["currentUser"]</a>
                        <a href="" id="notification-btn" class="nav-item nav-link">Notification</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <div class="modal" id="create-room-modal">
        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button onclick="closeModal()">Create</button>
            </footer>
        </form>
    </div>
    <div class="modal" id="notification-modal">
        <div class="modal-body">
            <div style="height:400px;">
                <button type="button" class="close" onclick="closeNotiModal()">X</button>
                <header>Notifications</header>
                <div id="bh-notification" style="height:300px;overflow-y: scroll;">
                    @foreach (var item in notifications)
                    {
                        <div class="card">
                            <p>You got the message: @item.Content</p>
                            <p>@item.Created</p>
                        </div>
                    }
                </div>
                <a asp-controller="Home" asp-action="ClearNoti"> Clear All</a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        
        connection.on("GetNotification", function (data, sender, date, chatRoom) {
            var currentUserName = document.getElementById("currentUserNav").value;
            let roomUrl = "http://localhost:5015/" + chatRoom;
            if (sender != currentUserName) {
                console.log("Sender");
            } else {
                if (getCurrentUrl() != roomUrl) {
                    //alert nptification
                    var div = document.createElement("div")
                    div.classList.add("alert", "alert-primary", "alert-dismissible", "fade", "show");
                    div.style.display = "flex";
                    div.style.float = "right";
                    var a = document.createElement("a");
                    a.href = "/" + chatRoom;
                    a.textContent = data;
                    div.appendChild(a);
                    var button = document.createElement("a");
                    button.classList.add("close");
                    button.innerHTML = "&times;";
                    div.appendChild(button);
                    var header = document.getElementById('myHeader');
                    header.appendChild(div);
                    button.addEventListener("click", function () {
                        $('.alert').alert('close');
                    });
                    
                    //add notification in header
                    var hdiv = document.createElement("div");
                    hdiv.classList.add("card");
                    var hp = document.createElement("p");
                    hp.innerHTML = data;
                    var underhp = document.createElement("p");
                    underhp.innerHTML = date;
                    hdiv.appendChild(hp);
                    hdiv.appendChild(underhp);
                    var parentDiv = document.getElementById('bh-notification');
                    parentDiv.appendChild(hdiv);
                    console.log('ngon');
                }
            }
        });

        function getCurrentUrl() {
            return window.location.href
        }
    </script>
</body>
</html>
