@{
    var notifications = (List<Notification>)ViewData["notifications"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/content.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Blogs" asp-action="Index">Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Private">Private Message</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Messages Group</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <span class="nav-link text-dark" style="color: #000;">Hello, @ViewData["currentUser"]</span>
                        <a href="" id="notification-btn" class="nav-item nav-link">Notification</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <div class="modal" id="create-room-modal">
        <form asp-controller="Home" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button onclick="closeModal()">Create</button>
            </footer>
        </form>
    </div>
    <div class="modal" id="notification-modal">
        <div class="modal-body">
            <div data-spy="scroll">
                    <button type="button" class="close" onclick="closeNotiModal()">X</button>
                    <header>Notifications</header>
                    <div>
                        @foreach (var item in notifications)
                        {
                            <div class="card">
                                <p>You got the message: @item.Content</p>
                                <p>@item.Created</p>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        console.log('header Notification bla bla');

        var connectionNoti = new signalR.HubConnectionBuilder()
            .withUrl("/notificationHub")
            .build();
        console.log('connection: ' + connectionNoti);

        var _connectionId = '';

        connectionNoti.start()
            .then(function () {
                connectionNoti.invoke("getConnectionNotiId")
                    .then(function (connectionId) {
                        _connectionId = connectionId
                        console.log(connectionId);
                        console.log('------- notiHub ---------');
                        $(".chat-body").animate({ scrollTop: $(".chat-body")[0].scrollHeight }, 100);
                    })
            })
            .catch(function (err) {
                console.log(err)
            });

        connection.on("GetNotification", function (notification, userNoti, date) {
            console.log('===================');
            alert(notification);
            console.log(userNoti);
        });
    </script>
</body>
</html>
